@import "vars"

/*==========  Desktop First  ==========*/


@media only screen and (max-width : 1700px)
  .header-phone
    padding-right: 0
  .header-btn
    margin-right: 0
  .header-icon-text
    margin-right: 10px
    font-size: 18px
  .header-phone-link
    font-size: 32px
  .header-menu
    margin-left: 0
  .sixth-left-block
    left: -140px
@media only screen and (max-width : 1500px)
  .header-room-text
    margin-left: 15px
    padding-left: 15px
  .header-phone-link
    font-size: 30px
  .header-btn
    font-size: 14px
    padding: 0 18px
  .sixth-left-block
    left: -30px
    width: 100%
  .sixth-left-img
    width: 100%
  .eight-right-block
    margin-left: 0
@media only screen and (max-width : 1340px)
  .first-right-block
    width: 110%
  .first-right-item
    font-size: 200px
    line-height: 145px
  .first-right-img
    max-width: 800px
  .third-left
    margin-left: 0
  .third-right
    margin-left: 0
  .first-right
    margin-left: 10%
  .second-left-line
    width: 25%
  .first-right-line, .fourth-right-line
    width: 28%
  .fifth-right-block
    width: 100%
  .fifth-right-img
    width: 100%
    top: 25px
  .third-left-item
    font-size: 165px
  .eight-right-block
    margin-left: -120px
  .seventh-left, .seventh-right
    margin-left: 0
  .seventh-left-img
    left: 170px
  .header-room-text
    font-size: 14px
  .header-phone-link
    font-size: 26px
  .header
    padding: 0
  .header-btn
    margin-left: -20px
  .sixth-right-circle
    right: 0
  .menu-overlay.active
    width: 73%
  .menu-right-line
    width: 27%
@media only screen and (max-width : 1199px)
  .header-btn
    margin-left: 0
  .first-right
    margin-left: 0
  .first-right-block
    width: 100%
  .first-right-item
    font-size: 176px
    line-height: 130px
  .first-right-img
    max-width: 700px
  .third
    margin-top: -150px
  .third-left-block
    width: 100%
  .third-left-item
    font-size: 130px
    line-height: 120px
  .third-left-item_leftlg
    margin-left: 45px
  .third-left-item_leftbiger
    margin-left: 10px
  .third-slider-container
    height: auto
  .third-left-img
    top: -60px
    left: 70px
    width: 360px
  .third-slider-text
    font-size: 22px
    line-height: normal
  .third-bottom-title
    font-size: 25px
    line-height: 30px
  .third-bottom-btn
    font-size: 14px
    letter-spacing: 1px
  .fourth-slider .slick-slide
    width: 700px
    height: auto!important
  .fourth-slider-arrows
    width: 160px
    height: 80px
  .fifth-left-text
    padding: 25px 0
  .fifth-right-img
    top: 75px
    left: -10px
  .fifth-right
    padding-top: 95px
  .seventh
    padding-top: 140px
  .seventh-left-img
    left: 130px
    width: 430px
  .seventh-slider
    margin-top: 80px
  .seventh-slider .slick-prev, .seventh-slider .slick-next
    top: -45px
  .eight-right-block
    margin-left: 0
    width: 100%
  .eight-left-bottom
    margin-top: 80px
  .video
    height: 370px
  .third-slider .slick-prev, .third-slider .slick-next
    top: 5px
  .sixth-right-circle
    top: -80px
    right: -10px
  .sixth-right-title
    font-size: 40px
    line-height: 32px
  .sixth-right-title_step
    max-width: 330px
  .sixth-right-row_wrap
    flex-direction: column
    align-items: flex-start
  .sixth-right-title
    font-size: 26px
    line-height: 24px
  .sixth-right-row_wrap label
    width: 100%
  .third-popup-content
    display: block
    max-width: 600px
    left: calc(50% - 300px)
    margin-bottom: 20px
  .third-popup-img
    width: 100%
    max-width: 100%
  .third-popup-main
    width: 100%
  .seventh-popup-img
    width: 100%
    height: auto
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  .first-left-title
    font-size: 48px
    line-height: 44px
  .first-right-item
    font-size: 100px
    line-height: 75px
  .first-right-block
    margin-top: 75px
  .first-right-img
    max-width: 530px
    left: -50px
  .first-left
    padding-top: 75px
  .video
    height: 270px
  .first-right-item_leftlg
    padding-left: 15px
  .first-right-item_leftmd
    padding-left: 10px
  .first-right-item
    overflow: visible
  .third-left-item
    font-size: 90px
    line-height: 75px
  .third-left-item_leftlg
    margin-left: 10px
  .third-left-item
    overflow: visible
  .third-left-item_leftbig
    padding-left: 10px
  .third-left-item_leftbiger
    margin-left: 0
  .third-right-text
    font-size: 13px
    line-height: 18px
  .third-left-block
    margin-top: 100px
  .third-left-img
    top: 50px
    left: 50px
    width: 250px
  .third
    margin-top: -215px
  .third-slider .slick-prev, .third-slider .slick-next
    top: 22px
  .third-bottom-btn
    margin-top: 20px
  .fourth
    padding-top: 80px
  .fifth-left-text
    padding: 10px 0
  .fifth-left-text
    margin-left: 18px
  .fifth
    padding: 30px 0 50px
  .fifth-left-text
    font-size: 13px
    line-height: 18px
  .fifth-right-img
    top: 110px
    width: 350px
  .fifth-right
    padding-top: 120px
  .sixth-left-block
    left: 0
    top: 100px
  .sixth-left-img
    width: 90%
  .third-left-item_leftmd
    margin-left: 5px
  .seventh-right-title
    margin-bottom: 25px
  .seventh
    padding-top: 50px
  .seventh-left-img
    left: 100px
    width: 265px
  .third-left-item_pad
    padding: 0
  .seventh-right-text
    font-size: 13px
    line-height: 18px
  .seventh-left-img
    width: 230px
    left: 80px
    top: 75px
  .seventh-left
    padding-top: 90px
  .third-left-item_marg
    margin-left: 0
  .eight
    padding: 140px 0 30px
  .eight-right-block
    margin-top: 50px
  .eight-left-bottom
    margin-top: 25px
  .sixth
    padding: 30px 0 50px
  .sixth-right-circle
    top: -5px
  .sixth-right-btnstep
    margin-top: 10px
  .second-step
    padding-top: 200px
  .sixth-right-slider
    left: 0
    top: 110px
  .sixth-right-label
    font-size: 13px
  .popup-left-sel
    margin: 35px 0
  .sixth-right-block
    margin: 25px 0
  .popup-form-input
    width: 50%
  .menu-overflow
    overflow: hidden
  .menu-item
    margin-bottom: 20px
/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
  .first-right-line, .fourth-right-line, .second-left-line
    display: none
  .header-room-text, .header-left-text, .header-icon-text
    display: none
  .first-left-title
    font-size: 54px
    line-height: 50px
  .first-right
    padding-left: 15px
  .first-link
    display: none
  .btn
    height: 50px
    line-height: 50px
    font-size: 12px
    letter-spacing: 1.2px
  .first-right-item
    font-size: 150px
    line-height: 110px
  .first-right-item_left
    margin-left: 0
  .first-right-block
    margin-top: 30px
  .first-right-img
    left: 0
  .first-right-img
    bottom: -105px
  .first
    padding-bottom: 190px
  .first-overlay
    height: 96%
  .video
    height: 180px
  .third-right-text
    font-size: 14px
    line-height: 20px
  .third-left-item
    font-size: 110px
    line-height: 90px
  .third-left-img
    top: 70px
    left: 85px
  .third-overlay
    background: $white
  .third-slider
    margin-bottom: 40px
  .third-slider .slick-next
    left: 70%
  .third-bottom-title
    margin-bottom: 0
  .third-bottom-input
    margin-top: 20px
  .fourth
    padding-top: 10px
  .fifth-left-text
    font-size: 14px
    line-height: 20px
    padding: 25px 0
    margin-left: 45px
  .fifth-right
    padding: 75px 50px 0
  .fourth-slider .slick-slide
    width: 460px
  .fourth-slider-arrows
    width: 130px
    height: 65px
  .fifth-right-img
    top: 50px
    left: 45px
  .third-left-block
    padding: 0 30px
  .seventh-slider .slick-next
    left: 70%
  .seventh-slider
    margin-top: 35px
  .seventh-left-img
    left: 100px
  .eight-left-row
    padding-right: 0
  .sixth-left-block
    position: relative
    top: 0
    left: 0
    margin-bottom: -30px
  .first-step
    padding: 30px 0 20px
  .other-steps
    margin-bottom: 70px
  .sixth-right-block
    margin-bottom: 0
  .sixth-right-title_sm.sec
    max-width: 100%
  .popup-form-input
    margin-bottom: 20px
  .sixth-left-img
    width: 100%
  .sixth-left-block
    left: -65px
  .menu-overlay.active
    width: 100%
  .menu-right-line
    display: none
  .menu-item
    display: block
  .header-left
    text-align: right
  .menu-list
    margin-top: 140px
  .menu-row
    height: auto
  .menu
    overflow: auto
    background: $accent
  .menu-container
    padding-bottom: 0
  .header-menu_fixed
    margin-top: 5px
  .header-img
    margin-bottom: 0
  .third-popup-content
    max-width: 90%
    left: 5%
    top: 85px
  .third-close
    top: -50px
    right: 0
  .third-popup-main
    padding: 20px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .first-left-title
    font-size: 42px
    line-height: 40px
  .first-right-item
    font-size: 95px
    line-height: 70px
  .first-right
    max-width: 320px
    margin: 0 auto
  .first-right-img
    max-width: 380px
  .first-right-img
    bottom: -88px
  .video
    height: auto
  .second-col
    padding: 0
  .first-left
    padding-top: 40px
  .third-left-item
    font-size: 75px
    line-height: 65px
  .third-slider-container
    margin: 0 5px
  .third-left-block
    max-width: 320px
    padding: 0 10px
    margin: 100px auto 0
  .third-left-img
    width: 200px
    top: 65px
    left: 45px
  .fourth-slider .slick-slide
    width: 320px
  .fifth-overlay
    top: -20px
  .fifth-right
    max-width: 320px
    margin: 0 auto
    padding: 75px 25px 0
  .fifth-right-img
    width: 260px
    left: 15px
  .seventh-slider
    padding: 0 0 0 15px
  .seventh-slider-img
    max-width: 290px
  .seventh-left
    max-width: 320px
    padding: 90px 45px 0
  .seventh-left-img
    width: 200px
    left: 110px
    top: 45px
  .eight-left-row
    flex-direction: column
    align-items: flex-start
    margin-top: 20px
  .eight-left-address
    margin-top: 20px
  .sixth-right-label
    width: 100%
  .sixth-right-row
    flex-wrap: wrap
  .sixth-right-circle
    top: -20px
    right: -5px
  .sixth-right-btnstep
    width: 100%
  .popup-left-sel
    margin: 20px 0
  .popup-left-select
    font-size: 12px
  .popup-left-sel
    width: 100%
  .popup-form-input
    width: 100%
    font-size: 12px
  .popup-form-input:first-child
    margin-right: 0
  .menu-list
    margin-top: 80px
  .third-form
    flex-wrap: wrap
  .third-input
    margin: 0 0 10px
    max-width: 100%
  .third-popup-btn
    width: 100%
    padding: 0 10px
    margin-top: 25px